.bold {
  font-weight: bold;
}

.iv_true {
  background-color: #DFF0D8;
  height: 15px;
}

.iv_false {
  background-color: #F2DEDE;
  height: 15px;
}

#new_daycare_pokemon {
  display: none;
}

#daycare_form_show {
  cursor: pointer;
}

#daycare_form_hide {
  cursor: pointer;
  display: none;
}

#pokemon_list {
  font-size: 1em;
}

#moveset td {
  width: 25%;
}

#iv_spread td {
  width: 10%;
}

#daycare_pokemon_general_info label, #daycare_pokemon_moveset label {
  display: none;
}

#daycare_pokemon_general_info, #daycare_pokemon_moveset {
  margin: auto 0;
}

#daycare_pokemon_general_info input, #daycare_pokemon_moveset input {
  font-size: 1.2em;
  height: 40px;
  width: 80%;
}
