.bold {
  font-weight: bold;
}

.iv_true {
  background-color: #DFF0D8;
  height: 15px;
}

.iv_false {
  background-color: #F2DEDE;
  height: 15px;
}

#new_daycare_pokemon {
  display: none;
}

#daycare_form_show {
  cursor: pointer;
}

#daycare_form_hide {
  cursor: pointer;
  display: none;
}

#pokemon_list {
  font-size: 1.5em;
}

#moveset td {
  width: 25%;
}
