<!DOCTYPE html>
<html>
<head>
  <title>Daycare</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p><%= notice %></p>
<% end %>
<% if alert %>
  <p><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
